body {
  display: block;
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  color: #555;
  margin: 0;
  background-image: url(crossword.png);
  padding: 0;
}

.box {
  text-align: center;
  margin: 30px;
  padding: 25px;
  height: 300px;
  border: 2px solid black;
  background-position: center;

}

#content {
    max-width: 60em;
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 50px;
    a {
        font-size: 56px;
        color: white;
        text-decoration: none;
        margin: 0 auto;
      }
    span {
      margin-right: 5px;
    }
}

#quiz {
  div {
    padding: 5px;
    display: flex;
    span {
      flex: 1;
      padding-left: 5px;
    }
  }
}

.btn {
  padding: 10px;
  background: grey;
  color: white;
  border: 1px solid black;
  margin-right: 5px;
}

header {
  margin: 0 auto;
  background-color: #263d36;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1.2;
  padding: 8em;
  text-align: center;
    h1 {
      color: white;
      font-size: 50px;
      padding: 4px;
    }
}

#archi{
    background-image: url("header.jpg");
}
#halo{
    background-image: url("halo_header.jpg");
}
